* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.championinf {
    background-image: url("../../static/images/test1-edit.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}